*{
	margin: 0;
	padding: 0;
}



nav{
	
	background-color: #042c6d;	
	height: 80px;
}	
nav ul{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;	
	
	
}
nav li{
	
	list-style-type: none;
	margin-top: 28px;
	font-size: 25px;
}

nav a{

	color: white; 	
	list-style-type: none;
	text-decoration: none;

}
section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 60px auto;

}
section img {
	height: 200px;
	margin-top: 2.5%;
}

@media only  screen and (max-width: 400px){
	nav ul {
	
	flex-direction: row;

}
nav{
	
	height: 200px;
}	
}

footer{
	background-color: #042c6d;	
	height: 80px;
	
}

footer ul{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-end;	
	
	
}
footer li{
	
	list-style-type: none;
	margin-top: 28px;
	font-size: 25px;
}

footer a{

	color: white; 	
	list-style-type: none;
	text-decoration: none;

}